
// для маленьких экранов
@media all and (max-width: 600px) {

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 16px;
        
    }

    h3 {
        font-size: 16px;
        
        
    }

}





// для ??? экранов
@media all and (max-width: 1200px) {

}
