
@import "color";

//@import "../../node_modules/react-datepicker/dist/react-datepicker.css";



body {
  margin: 30px;

}


div {
  //border: 1px solid black;

}

.container-fluid {
  padding: 10px !important;
  
  //margin-left: 10px;
 // margin-right: 10px;
  


}

.row .container-fluid {
  //background-color: $container;

}

.container {
  padding: 10px !important;

}

header {
  height: 100px;
  //background-color: rgb(197, 212, 245);
  width: 100%;
  
  padding: 0px;


}

footer {
  height: 150px;
  background-color: rgb(126, 172, 162);
  width: 100%;

  margin: 0px;
  padding: 0px;

}

footer h5 {
  font-size: 0.8em;
}


.navbar-expand-sm {
  

}

.row {
  padding: 0.5rem;
  margin: 2px;

}

.header  {
  padding: 1rem;


}

.nav-link {
  font-size: 12px;

}


#input-module {
  border: 1px solid black;
}



#read-module, #plan-read-module {
  border: 1px solid black

}

.input-group-text {
 // background-color: white ;
  


}


#AddEquipment {

  margin-bottom: 30px;

}

#createBid {
  width: 100%;

}


#btnCreateBid {
 
}



.react-datepicker {
  z-index: 20;
}


#btnAddDescription {
  z-index: 0;
}



.checkboxBidRequest {
  font-size: 0.7em;
  
}

p {
  
}

#plan-read-module {
  background-color: $tickedBidRequest
}

h5 {
  font-size: 0.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
h6 {
  font-size: 0.9em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  


}


#filteredListUnitEquipment {
  font-size: 0.8em;
  padding: 3px;
  

}


.navbar {
  background-color: red !important;

}



#labelUserNameNav {
  font-size: 0.9em;
  font-style: italic;
  

}

table {
  font-size: 0.8rem;


  #colPlan {
    min-width: 350px;

  }
}

@import "../../bower_components/bootstrap/scss/bootstrap";
@import "./adaptiveDesign";













// fonts

@media all and (min-width: 600px) {


h1 {
  //font-size: 16px;
  //color: brown;

}

h2 {
  //margin: 10px;

}

h3 {
  //color: brown;
  //font-size: 16px;

}

h5 {
  font-size: 0.8rem;

}

p {
  font-size: 10px;

}


}


